@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Stem-Medium';
    src: local('Stem-Medium'), url('./Font/stem-medium.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Stem-Bold';
    src: local('Stem-Bold'), url('./Font/stem-bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'StemRegular';
    src:local('Stem-Regular'), url('./Font/stem-regular.otf') format('opentype');
  }

body
{
    font-family: 'Stem-Medium';
    font-family: 'Stem-Bold';
    font-family: 'StemRegular';
}

.login{
    background-image: url('./Img/login.png');
    background-size: cover;
    background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    background-position: center; /* Centrez l'image */
    height: 100vh; /* Prendre la totalité de la hauteur de la fenêtre */
    width: 100vw; /* Prendre la totalité de la hauteur de la fenêtre */
}

.signup{
    background-image: url('./Img/signup.png');
    background-size: cover;
    background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    background-position: center; /* Centrez l'image */
    height: 100vh; /* Prendre la totalité de la hauteur de la fenêtre */
    width: 100vw; /* Prendre la totalité de la hauteur de la fenêtre */
}

.settingsBack{
    background-image: url('./Img/Profile page User.png');
    background-size: cover;
    background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    background-position: center; /* Centrez l'image */
    height: 100vh; /* Prendre la totalité de la hauteur de la fenêtre */
    width: 100vw; /* Prendre la totalité de la hauteur de la fenêtre */
}

.BackAcceuil {
    background-image: url('./Img/backAcceuil.png');
    background-size: cover;
    background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    background-position: center; /* Centrez l'image */
    height: 100vh; /* Prendre la totalité de la hauteur de la fenêtre */
    width: 100vw; /* Prendre la totalité de la hauteur de la fenêtre */
}

.BackAdmin {
    background-image: url('./Img/Background admin.png');
    background-size: cover;
    background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    background-position: center; /* Centrez l'image */
    height: 100vh; /* Prendre la totalité de la hauteur de la fenêtre */
    width: 100vw; /* Prendre la totalité de la hauteur de la fenêtre */
}

.BackDoctor {
    background-image: url('./Img/Doctor background 1.png');
    background-size: cover;
    background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    background-position: center; /* Centrez l'image */
    height: 100vh; /* Prendre la totalité de la hauteur de la fenêtre */
    width: 100vw; /* Prendre la totalité de la hauteur de la fenêtre */
}

.BackDoctor2 {
    background-image: url('./Img/Doctor background 2.png');
    background-size: cover;
    background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    background-position: center; /* Centrez l'image */
    height: 100vh; /* Prendre la totalité de la hauteur de la fenêtre */
    width: 100vw; /* Prendre la totalité de la hauteur de la fenêtre */
}

.BackDoctor3 {
    background-image: url('./Img/BG 3 DOCTOR.png');
    background-size: cover;
    background-repeat: no-repeat; /* Assurez-vous que l'image ne se répète pas */
    background-position: center; /* Centrez l'image */
    height: 100vh; /* Prendre la totalité de la hauteur de la fenêtre */
    width: 100vw; /* Prendre la totalité de la hauteur de la fenêtre */
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 639px) {
    .BackAcceuil {
        background-image: url('./Img/Background mobile.png');
        background-size: cover;
    }
}

